<div class="container mt-4">
  <h2 class="text-center mb-5">Welcome, {{ username }}</h2>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="card custom-card text-center">
        <div class="card-body">
          <h5 class="card-title mb-3">Add Booking</h5>
          <a routerLink="/add-booking" class="custom-btn">Book Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card custom-card text-center">
        <div class="card-body">
          <h5 class="card-title mb-3">My Bookings</h5>
          <a routerLink="/display-booking" class="custom-btn">View Bookings</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card custom-card text-center">
        <div class="card-body">
          <h5 class="card-title mb-3">Edit Profile</h5>
          <a routerLink="/edit-user" class="custom-btn">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
